body { 
  font-family: Verdana,Arial,sans-serif ;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

li {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px 0px 0px 10px;
}

.overlay-menu-item {
  display: block;
  margin: 0px 0px 0px 0px;
  padding: 3px 0px 3px 0px;
  text-decoration: none;
}

#map_canvas {
  margin: 0px;
  padding: 0px;
}

.form-narrow {
}

.form-narrow .form-row {
  clear: both;
  position: relative;
}

.form-narrow .form-row label {
  position: absolute;
  font-weight: bold;
  float: left;
}

.form-narrow .form-row input,
.form-narrow .form-row select 
 {
  margin: 0px 0px 0px 40px;
}


.form-dialog {
  width: 400px;
  position: relative;
  margin:auto auto; 
}

.form-dialog .form-row {
  clear: both;
  position: relative;
  margin: 2px 0px 2px 0px;
}

.form-dialog .form-row label {
  position: absolute;
  font-weight: bold;
  float: left;
}

.form-dialog .form-row input,
.form-dialog .form-row textarea,
.form-dialog .form-row select 
 {
  margin: 0px 0px 0px 100px;
  border: solid 1px #999999;
  width: 200px;
}
